#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* ESTILOS PROPIOS */

/* FORMULARIO DE BUSQUEDA */
.city_name_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  margin: 0 auto;
}

.city_name_form Label {
  border-bottom: 1px solid #7e7878;
  font-weight: 600;
  margin-bottom: 5px;
}

.city_name_form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #7e7878;
}

button:hover {
  border-color: #2a2c91;
  background-color: #1e2066;
}

/* LISTA DE CIUDADES */
.city_card {
  padding: 10px;
}

.city_card li {
  list-style: none;
  border: 1px solid #7e7878;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 300px;
  padding: 10px;
}

ul li:hover {
  background-color: #1a1a1a;
}

.city_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

/* DETALLE DEL CLIMA */
.city_detail {
  border: 1px solid #7e7878;
  border-radius: 8px;
  padding: 15px;
  background-color: #1a1a1a;
  width: 400px;
}

.city_detail button {
  background-color: #242424;;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.city_detail button:hover {
  background-color: #1e2066;
  border: 1px solid #2a2c91;
}


